
@{
    ViewBag.Title = "Edit Here";
    Layout = "~/Views/Shared/Master.cshtml";
}
@model DemoMVC.Models.Emp
<form action="/Demo/Edit" method="post">
        @*Message from Controller = @ViewData["company"]*@
        <input type="text" name="Message" value="@ViewData["company"]" />
        <br />
        @*<form action="/Demo/AfterEdit" method="post">*@
        <center>
            <table>
                <tr>
                    <td>No</td>
                    <td>
                        @Model.No <br />
                        <input type="hidden" name="No" value="@Model.No" />
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        @*<input type="text" name="Name" value="@Model.Name" />*@
                        @Html.TextBox("Name")
                    </td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <input type="text" name="Address" value="@Model.Address" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn btn-warning" name="btn" value="Update" />
                    </td>
                </tr>
            </table>
        </center>
    </form>
